<h1>Page d'accueil</h1>
<ul>
    <li>
            <%= link_to 'vers ma page flynn','/home/flynn' %>
    </li>
    <li>
            <%= link_to 'vers ma page checkr','/home/checkr' %>
    </li>
    <li>
            <%= link_to 'vers ma page sparks','/home/sparks' %>
    </li>
</ul>
